<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <table id="myTable" class="display">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Company Name</th>
          <th>Age</th>
          <th>Image</th>
          <th>Start Date</th>
        </tr>
      </thead>
      <tbody id="data">
        <% for(let i=0 ; i< display.length ;i++){%>
        <tr>
          <td><%=display[i].first_name%></td>
          <td><%=display[i].designations[0].position%></td>
          <td><%=display[i].designations[0].company_name%></td>
          <td><%=display[i].age%></td>
          <td><%=display[i].image%></td>
          <td><%=display[i].designations[0].start_date%></td>
        </tr>
        <% };%>
      </tbody>
    </table>
  </body>
  <script>
    let response;
    $(document).ready(function () {
      $("#myTable").DataTable({
        lengthMenu: [
          [
            5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
            90, 95, 100,
          ],
          [
            5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
            90, 95, 100,
          ],
        ],
        language: {
          info: "Display _PAGE_ to _END_ of _TOTAL_ entries",
        },
        // columnDefs: [
        //   {
        //     targets: [1, 3],
        //     orderable: false,
        //   },
        // ],
        paging: true,
        pagingType: "full_numbers",
        processing: true,
        serverSide: true,
        serverMethod: "get",
        ajax: {
          url: "/get-data",
          // success: function (data) {
          //   console.log(data);
          // },
        },
        columns: [
          { data: "first_name" },
          { data: "position" },
          { data: "company_name" },
          { data: "age" },
          { data: "image" },
          { data: "start_date" },
        ],
      });
    });
  </script>
</html>
